nav {
    height: 100%;
}

.side-nav-button {
display: flex;
justify-content: center;
font-size: 1.5rem;
cursor: pointer;
}

.side-nav-button:hover {
    background-color: red;
    border-radius: 30%;
}

.nav-link {
    color:bisque
}

.navbar-brand {
    color:aqua
}

.navbar-nav {
    text-transform: uppercase;
}

.nav-link:hover {
    color: blue;
}